@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:#000046;
  min-height: 140vh;
  width: 100vw;  
}

@media (min-width: 768px) {
      body {
          min-height: 100vh;
      }
} 